{% extends 'base.html'%}
{% block title %}Add New Pet{% endblock %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="display-4">Add Pet</div>
      <div class="col-md-7 p-3">
         <form action="/add" method="POST" class="form-control shadow">
         {{form.hidden_tag()}}
         {% for field in form 
                        if field.widget.input_type != 'hidden'%}
         <div> 
            <p>{{field.name}}
            {% if field.flags.required %}
               <span class="form-text text-warning-emphasis text-right">*Required Field</span></p>
            {% endif %}
         </div>   
         <p>{{field(class_="form-control")}}</p>
            {% for err in field.errors%}
               <div class="form-text text-danger">{{err}}</div>
            {% endfor %}
         {% endfor %}
         
         <button type="submit" class="btn btn-success">Submit</button>
         <a href="/" class="btn btn-info">Home</a>
         </form>
      </div>
   </div>
</div>




{% endblock %}
