{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<h1>Add feedback for {{user.first_name}} {{user.last_name}}</h1>
<form action="/users/{{user.username}}/feedback/add" method="POST">
   {{form.hidden_tag()}} 
      {% for field in form 
                     if field.widget.input_type != 'hidden'%}
         <div> 
            <p>{{field.name}}
            {% if field.flags.required %}
               <span class="form-text text-warning-emphasis text-right">*Required Field</span></p>
            {% endif %}
         </div>
         <p>{{field(class_="form-control")}}</p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/" class="btn btn-primary">Cancel</a>
   </form>


{% endblock %}