{% extends 'base.html' %}
{% block title %}Feedback{% endblock %}
{% block content %}
<h1>feedback</h1>
<form action="/feedback/{{feedback.id}}/update" method="POST">

   {{form.hidden_tag()}} 
   {% for field in form 
                  if field.widget.input_type != 'hidden'%}
      <div>{{field.name}}</div>
      {{field}}
   {% endfor %}
   <div>
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="/users/{{user.username}}" class="btn btn-primary">Return</a>
   </div>         
         
</form>
{% endblock %}