.button-link {
   display: inline-block;
   padding: 5px 10px;
   margin: 10px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   background-color: #3498db;
   color: #ffffff;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .button-link:hover {
   background-color: #2980b9;
 }

 .questions{
   padding: 5px;
 }

 .radio-container{
   display: block;
   margin-bottom: 5px;
   font-size: 16px;
 }

 .flash{
   background-color: #ffdddd; /* Light red background */
   color: #8b0000; /* Dark red text color */
   padding: 10px; /* Padding around the content */
   border: 1px solid #8b0000; /* Dark red border */
 }