{% set is_homepage = True %}
{% extends 'base.html' %}
{% block title %}Sattelite Tracker{% endblock %}
{% block content %}
<div class="home-hero" id="home">
   <div class="overlay">
      <h1>Satellite Tracker!</h1>
      <p>Sign up now to get peronsalized satellite viewing events!</p>
      <p><a href="/sign_up" class="btn btn-primary btn-sm">Sign up</a>
         <a href="/login"  class="btn btn-primary btn-sm">login</a>
      </p>
   </div>
 </div>


{% endblock %}
{% block script %}
<script src="/static/homepage.js"></script>
{% endblock %} 