{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-sm btn-block">Sign Up</button>
        <a href="/login" class="btn btn-primary btn-sm">Log In</a>
      </form>
    </div>
  </div> 
</div>

{% endblock %}